{% extends 'ukbooking/base.html' %}
{% block head_title %}Apartment{% endblock %}
{% block content %}
<h1>{{ apartment.short_name }}</h1>
<address>
<strong>{{ apartment.address_line1 }}</strong><br>
{% if apartment.address_line2 %}
{{ apartment.address_line2 }}<br>
{% endif %}
{{ apartment.address_city }}<br>
{{ apartment.address_zip }}
</address>

<h3>Contact & Information</h3>
Contact : <a href="mailto:{{ apartment.contact }}">{{ apartment.contact }}</a> <br>
Information:<br> {{ apartment.information }}

<h3>Beds</h3>
<table class="table table-striped">
<thead>
<tr>
<td>Number</td>
<td>Type</td>
<td>Information</td>
</tr>
<tbody>
{% for bed in bed_list %}
<tr>
<td>{{ bed.number }}</td>
<td>{{ bed.type }}</td>
<td>{{ bed.information }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
