{% extends 'ukbooking/base.html' %}
{% block head_title %}SNOLAB Visits{% endblock %}
{% block head_script %}
{% load static from staticfiles %}
<script src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".tbcont").hide();
  //toggle the componenet with class msg_body
  jQuery(".tbhide").click(function()
  {
    jQuery(this).next(".tbcont").slideToggle(100);
  });
});
</script>
{% endblock %}
{% block content %}
{% load ukbooking_filters %}
<div class="row-fluid">
  <div class="span1">
    <a href="{% url 'bookings' prev.0 prev.1 %}">{{ prev.1|month_name}}</a>
  </div>
  <div class="span3 offset1">
    <h3><center>{{ now.1|month_name }} {{ now.0 }}</center></h3>
  </div>
  <div class="span1 offset1">
    <a href="{% url 'bookings' next.0 next.1 %}">{{ next.1|month_name}}</a>
  </div>
</div>

{% include "ukbooking/calendar.html" with events=day_bookings type="booking" %}

<h2>All bookings this month</h2>
{% for booking in month_bookings %}
<a href="{% url 'booking' booking.pk %}">{{ booking }}</a> part of {{ booking.visit }}<br />
{% endfor %}
{% endblock %}
