{% load ukbooking_filters %}
<table class="table table-bordered" width="100%">
<thead>
<tr>
<th>Sunday</th>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
</tr>
</thead>
<tbody>
<tr>
{% for day in events %}
  {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:7 %}
    </tr><tr>
  {% endif %}
  <td valign='top'>
    <table class="table table-hover">
      <thead class="tbhide">
        <tr><td>{% if day.1 != None %}<a href="#" title="Click to view details.">{{ day.0|day_suffix }} - {{ day.1|length }} {{ type }}</a>{% endif %}</td></tr>
      </thead>
      <tbody class="tbcont">
        {% for event in day.1 %}
          <tr><td><a href="{% url type event.pk %}">{{ event }}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </td>
{% endfor %}
</tr>
</tbody>
</table>
