{% extends 'ukbooking/base.html' %}
{% block head_title %}UK Visit & Room booking system{% endblock %}
{% block content %}
<h2>UK Visit and apartment/room booking system</h2>
Welcome to the UK booking system, from the above links you can see visits and bookings by month and a list of apartments.
To book a visit click the book visit button and fill in the form, the contact for the apartment will then check if the bed is free and if you are welcome.
Please be aware of the following:
<blockquote>
Generally, apartment rooms are prioritised for their respective national experiment collaboration members.
If there is availability, rooms will be offered to others at a rate of 25 $CAN per night (this rate also applies to non-department funded UK students).
Further surcharges may apply if priority visitors on short-notice trips are displaced.
Addition restrictions may also apply depending on the specific choice of apartment.
Invoicing for room charges will be organised by the appropriate UK, US or Canadian managing institution.
</blockquote>

<h2>Contact</h2>
<a name="Contact"></a>Contact <a href="mailto:edward.leming@physics.ox.ac.uk">edward.leming@physics.ox.ac.uk</a> for system help.
{% endblock %}
